// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	padding: 10px;
}

.empty-field-alert {

	color:#d43f3a !important;
}

#price-per-ml {

	margin-top:20px;
	width:100%;
	text-align:center;
	color:#2f2f2f;
}

.center-container {

	width:100%;
	display:flex;
	justify-content: center;
}

#calculate-button {

	display: inline-block;
}